body {
    margin: 0;
    font-family:  'Cursive', 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: oblique;
      }
      
  